.demo-container,
#page,
#app {
  height: 100%;
  min-height: 300px;
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.content {
  background-color: rgba(252, 251, 247, 0.8);
}

.left-side-bar {
  background-color: #acafaecc;
}

.right-side-bar {
  background-color: rgba(252, 252, 252, 0.8);
}

.footer {
  background-color: rgba(252, 252, 252, 0.8);
}

.item {
  height: 100%;
}

#page p {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

